.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  background-color: whitesmoke;
  transform: translateY(1rem);
  padding: 1rem;
  margin: 0 5rem 0 5rem;
  border-radius: 2rem;
}

.container {
  transform: translateY(30vh);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: whitesmoke;

  border-radius: 2rem;
  margin: 0 8rem 0 8rem;
}

.colorcode {
  background-color: rgb(0, 0, 0);
  color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 3rem;
  transform: translateY(-50%);
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.options {
  transform: translateY(-20%);
}
.option {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.optionTitle {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.optionSelector {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
